<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 d-flex">
  <!-- Footer Links -->
  <div class="container text-center text-lg-start">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-6 col-xl-3 mx-auto mt-3 text-lg-start">
        <img class="mb-4" src="assets/vpnlogo.png" height="35px" alt="" />
        <p>
          Here you can use rows and columns to organize your footer.
          
        </p>
        <div>
          <a class="fb-ic">
            <i
              class="fa fa-facebook white-text me-md-5 me-2 nil"
              aria-hidden="true"
            >
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text me-md-5 me-2 nil" aria-hidden="true">
            </i>
          </a>
          <a class="in-ic">
            <i
              class="fa fa-instagram white-text me-md-5 me-2 nil"
              aria-hidden="true"
            >
            </i>
          </a>
        </div>
        <diV class="my-3 " style="opacity: 0.5;">
          @2020 LaslesVPN
        </diV>
        
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-lg-start me-md-3">
          <h6 class="mb-4 font-weight-bold">Products</h6>
          <p>Download</p>
          <p>pricing</p>
          <p>location</p>
          <p>Server</p>
          <p>Countries</p>
          <p>Blog</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none" />
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-lg-start me-md-3">
          <h6 class="mb-4 font-weight-bold">Useful links</h6>
  
          <p>LaslesVPN</p>
          <p>FAQ</p>
          <p>Tutorials</p>
          <p>About us</p>
          <p>Privacy policy </p>
          <p>Term of service</p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-lg-start me-md-3">
          <h6 class="mb-4 font-weight-bold">Contact</h6>
          <p>Afililate</p>
          <p>Become partner</p>
        </div>
        </div>
  
        
      </div>
      
      
      <!-- Grid column -->
    
    <!-- Footer links -->
  


  <!-- Footer Links -->
</footer>
