<div class="card-container d-flex  flex-lg-row flex-md-row flex-sm-column flex-column">
    <div class="card">
      <div class="card-icon-div"> 
        <i class="fa fa-user card-icon" aria-hidden="true"></i>
      </div>
      <div class="card-txt">
        <p  class="card-head">90+</p>
        <p  class="card-text">users</p>
      </div>
    </div>

    <div class="vr bg-primary d-lg-block d-sm-none d-md-block d-none"> </div>

    <div class="card">
      <div class="card-icon-div"> 
        <i class="fa fa-map-marker card-icon" aria-hidden="true"></i>
      </div>
      <div class="card-txt">
        <p  class="card-head">30+</p>
        <p  class="card-text">Location</p>
      </div>
    </div>

    <div class="vr bg-primary d-sm-none d-md-block d-none "> </div>


    <div class="card">
      <div class="card-icon-div"> 
        <i class="fa fa-server card-icon" aria-hidden="true"></i>
      </div>
      <div class="card-txt">
        <p  class="card-head">50+</p>
        <p  class="card-text">Servers</p>
      </div>
    </div>
  </div>
